<div class="container mt-4">
    <h2 class="mb-4">Gestión de Estudiantes</h2>

    <div class="row mb-4">
        <div class="col-lg-9">
            <div class="input-group">
                <input type="text" class="form-control" [(ngModel)]="searchQuery"
                    placeholder="Buscar por nombre o correo" />
                <span class="input-group-text">
                    <i class="bi bi-search"></i>
                </span>
            </div>
        </div>
        <div class="mt-2 mt-lg-0 col-lg-3 d-flex justify-content-end">
            <button class="btn btn-primary add-btn d-flex justify-content-between align-items-center"
                [routerLink]="['/students/form']">
                <span class="me-2">Nuevo estudiante</span>
                <i class="bi bi-plus-circle"></i>
            </button>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-hover table-responsive rounded-3">
            <thead class="table-light">
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Correo electrónico</th>
                    <th>Teléfono</th>
                    <th>Grado escolar</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let student of getPaginatedStudents; let i = index">
                    <td>{{ (currentPage - 1) * studentsPerPage + i + 1 }}</td>
                    <td>{{ student.fullname }}</td>
                    <td>{{ student.email }}</td>
                    <td>{{ student.phone }}</td>
                    <td>{{ student.grade }}° cuatrimestre</td>
                    <td class="d-flex flex-row">
                        <button class="btn btn-warning btn-sm me-2" [routerLink]="['/students/update', student.id]">
                            Modificar <i class="bi bi-pencil-square"></i>
                        </button>
                        <button class="btn btn-sm d-flex align-items-center"
                            [ngClass]="student.status ? 'btn-danger' : 'btn-success'">
                            {{ student.status ? 'Desactivar' : 'Activar' }}
                            <i
                                [class]="student.status ? 'bi bi-arrow-down-square ms-2' : 'bi bi-arrow-up-square ms-2'"></i>
                        </button>
                    </td>
                </tr>
                <tr *ngIf="getPaginatedStudents.length === 0">
                    <td colspan="5" class="text-center">No se encontraron estudiantes.</td>
                </tr>
            </tbody>
        </table>
    </div>

    <nav *ngIf="totalPages > 1">
        <ul class="pagination pagination-sm justify-content-center">
            <li class="page-item" [class.disabled]="currentPage === 1" (click)="goToPage(currentPage - 1)">
                <a class="page-link">Anterior</a>
            </li>
            <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index"
                [class.active]="currentPage === i + 1" (click)="goToPage(i + 1)">
                <a class="page-link">{{ i + 1 }}</a>
            </li>
            <li class="page-item" [class.disabled]="currentPage === totalPages" (click)="goToPage(currentPage + 1)">
                <a class="page-link">Siguiente</a>
            </li>
        </ul>
    </nav>
</div>