<div class="container mt-4">
    <h2 class="mb-4">Gestión de Préstamos</h2>

    <div class="mb-4">
        <div class="input-group">
            <input type="text" class="form-control" [(ngModel)]="searchQuery"
                placeholder="Buscar por libro o usuario" />
            <span class="input-group-text">
                <i class="bi bi-search"></i>
            </span>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-hover table-responsive rounded-3">
            <thead class="table-light">
                <tr>
                    <th>#</th>
                    <th>Libro</th>
                    <th>Estudiante</th>
                    <th>Fecha de préstamo</th>
                    <th>Fecha de entrega</th>
                    <th>Estado</th>
                    <th>Fecha de devolución</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let loan of paginatedloans; let i = index">
                    <td>{{ (currentPage - 1) * loansPerPage + i + 1 }}</td>
                    <td>{{ loan.bookTitle }}</td>
                    <td>{{ loan.userFullName }}</td>
                    <td>{{ loan.startDate }}</td>
                    <td>{{ loan.endDate }}</td>
                    <td>
                        <span class="badge" [ngClass]="loan.status ? 'bg-success' : 'bg-warning'">
                            {{ loan.status ? 'Devuelto' : 'Prestado' }}
                        </span>
                    </td>
                    <td>{{ loan.returnedDate }}</td>
                    <td>
                        <button class="btn btn-sm d-flex align-items-center btn-primary" *ngIf="!loan.status">
                            Marcar como devuelto
                            <i class="bi bi-check-circle ms-2"></i>
                        </button>
                    </td>
                </tr>
                <tr *ngIf="paginatedloans.length === 0">
                    <td colspan="7" class="text-center">No se encontraron préstamos.</td>
                </tr>
            </tbody>
        </table>
    </div>

    <nav *ngIf="totalPages > 1">
        <ul class="pagination pagination-sm justify-content-center">
            <li class="page-item" [class.disabled]="currentPage === 1" (click)="goToPage(currentPage - 1)">
                <a class="page-link">Anterior</a>
            </li>
            <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index"
                [class.active]="currentPage === i + 1" (click)="goToPage(i + 1)">
                <a class="page-link">{{ i + 1 }}</a>
            </li>
            <li class="page-item" [class.disabled]="currentPage === totalPages" (click)="goToPage(currentPage + 1)">
                <a class="page-link">Siguiente</a>
            </li>
        </ul>
    </nav>
</div>